.admin-box {
    width: 100vw;
    padding: 20px;
    background-color: #fff;
}
.admin-page {
    width: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
}
.fHalf {
    min-width: 500px;
    margin-right: 30px;
}
.sHalf {
    min-width: 800px;
}
.admin-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.admin-box {
    border-radius: 15px;
    padding: 15px 20px;
    background-color: #fff;
    max-width: fit-content;
}
.admin-box h2 {
    font-size: 24px;
    font-family: "Space Grotesk", sans-serif;
    color: #00F5D4;
}
.admin-box p {
    font-weight: 500;
    margin-top: 5px;
    font-size: 20px;
}
.admin-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 15px;
}
.admin-messages h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Space Grotesk", sans-serif;
    color: #00F5D4;
}
.admin-msg {
    width: 100%;
    padding: 15px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    border-radius: 20px;
}
.admin-msg p {
    font-size: 17.5px;   
}
.admin-msg button {
    background-color: red;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 7px;
    font-size: 15.5px;
    cursor: pointer;
}
.pagination-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-buttons button {
    padding: 6px 12px;
  }
  
.admin-membership {
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #fff;
    margin-top: 15px;
}
.admin-membership h2 {
    font-size: 25px;
    margin-bottom: 13px;
    font-family: "Space Grotesk", sans-serif;
    color: #00F5D4;
}
.admin-membership input {
    background-color: #f2f2f2;
    margin-bottom: 8px;
    border-radius: 13px;
    width: 100%;
    padding: 10px 16px;
    color: #333;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    margin-bottom: 9px;
}
.admin-membership .button-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-membership .button-group button {
    background-color: red;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    margin-bottom: 7px;
    font-size: 15.5px;
    width: 150px;
    cursor: pointer;
}
.saveMem {
    background-color: green;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 7px;
    font-size: 15.5px;
    width: 100%;
    cursor: pointer;
}
.latest-users {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 15px;
}
.latest-users h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Space Grotesk", sans-serif;
    color: #00F5D4;
    width: 100%;
}
.latestUser {
    width: fit-content;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.latestUser p {
    font-size: 17.5px;
    margin-bottom: 3.5px;
}
.findUsers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 15px;
}
.findUsers h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Space Grotesk", sans-serif;
    color: #00F5D4;
    width: 100%;
}
.findUsers form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.findUsers form input {
    background-color: #f2f2f2;
    margin-bottom: 8px;
    border-radius: 13px;
    width: 140px;
    padding: 10px 16px;
    color: #333;
    font-size: 16px;
    border: 0;
    font-weight: 500;
}
.findUsers form select {
    background-color: #f2f2f2;
    border-radius: 13px;
    width: 140px;
    padding: 10px 16px;
    color: #333;
    font-size: 16px;
    border: 0;
    font-weight: 500;
}
.findUsers form button {
    background-color: #00F5D4;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 7px;
    font-size: 15.5px;
    width: 100%;
    cursor: pointer;
}