.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 0;
  position: relative;
  background-color: #f2f2f2;
}
.shopify-welcomeDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.shopify-welcome {
  padding: 30px 25px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  max-width: 1200px;
  border-radius: 17px;
}
.chat-inputs.homepage {
  max-height: 42px;
}
.chat-inputs.homepage button {
  margin-top: -1.2px;
}
.config.homepage h2 {
  font-size: 29px;
}
.shopify-welcome:hover {
  scale: 1.01;
} 
.shopify-welcome h1 {
  font-size: 36px;
  font-family: "Space Grotesk", sans-serif;
  color: #222;
}
.shopify-welcome p {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  color: #444;
  margin-top: 7px;
  text-align: center;
}
.shopify-welcome button {
  padding: 10px 25px;
  background-color: #00f5d4;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  margin-top: 9px;
  transition: .3s ease;
}
.shopify-welcome button:hover {
  scale: 1.02;
  background-color: #00f5d480;
}
.shopify-prompt {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  font-size: 24.5px;
  cursor: pointer;
}
.modalNotification {
  position: fixed;
  max-width: 910px;
  padding: 12px 20px;
  background: #00f5d4;
  border: 2px solid #dfdfdf;
  outline: 2px solid #00f5d4;
  bottom: 17px;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  border-radius: 18px;
  z-index: 999;
}
.modalNotification p {
  font-size: 18.3px;
  color: #fff;
  font-weight: 500;
}
.modalNotification p span {
  position: relative;
}
.modalNotification p span::before {
  content: "";
  position: absolute;
  bottom: -2.2px;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}
.hero {
  width: 100%;
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
.hero h1 {
  font-size: 60px;
  margin-top: 25px;
  font-family: "Space Grotesk", sans-serif;
  animation: fadeInUp 1s ease-in-out forwards;
  color: #222;
}
.hero-text {
  width: 635px;
}
.hero h1 span {
  color: #00f5d4;
}
.hero h2 {
  font-weight: 600;
  font-size: 22.3px;
  color: #333;
  margin: 9px 0 10px;
}
.hero p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
  max-width: 700px;
  color: #444;
}
.hero-btn {
  background-color: #00f5d4;
  color: white;
  padding: 12px 28px;
  font-size: 18.5px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.hero-btn.one{
  background-color: #00f5d4;
}
.hero-btn:last-child {
  margin-right: 15px;
  background-color: transparent;
  color: #00f5d4;
  border: 2px solid #00f5d4;
}
.hero-btn:hover {
  scale: 1.02;
}
.hero-proof {
  max-width: 700px;
  display: flex;
}
.hero-proof img {
  width: 285px;
  max-height: 655px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #dfdfdf;
}
.hero-proof span {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-proof span img {
  width: 270px;
}
.icon-hero {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding-right: 40px;
  margin-top: 23px;
  font-size: 16.8px;
  color: #555;
}
.hero-icon {
  margin-right: 7px;
}
.icon-hero div {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.icon-hero div::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #555;
  border-radius: 15px;
  transition: .5s ease;
}
.icon-hero div:hover::before {
  width: 80%;
}
.hero-logos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-between;
  padding-right: 10px;
  gap: 15px 0;
}
.hero-logos img {
  max-width: 220px;
}
.hero-logos img:nth-child(3) {
  max-width: 140px;
}
.hero-logos img:nth-child(4) {
  max-width: 120px;
  height: 130px;
}
.hero-logos img:nth-child(5) {
  max-width: 120px;
  max-height: 110px;
  margin-top: 14px;
}
.hero-logos img:nth-child(6) {
  max-width: 120px;
  height: 110px;
  margin-top: 14px;
}
.hero-logos img:nth-child(7) {
  max-width: 120px;
  height: 110px;
  margin-top: 10px;
}
.first-hero  {
  margin-right: 15px;
}
.cta {
  background-color: #00f5d4;
  color: white;
  padding: 10px 26px;
  font-size: 20px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease;
}
.cta:hover {
  background-color: #00f5d483;
  scale: 1.02;
}
.features,
.how-it-works, 
.use-cases, 
.comparison {
  max-width: 1500px;
  text-align: start;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.comparison {
  max-width: 1500px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
.use-cases {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.use-cases img {
  width: 43%;
  min-width: 560px;
  max-width: 700px;
  border-radius: 15px;
  cursor: pointer;
  transition: .4s ease;
}
.use-cases img:hover {
  scale: 1.03;
}
.use-cases .outside-wrapp {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-right: 50px;
}
.use-cases .outside-wrapp h2 {
  font-size: 50px;
  color: #222;
  margin-bottom: 5px;
  max-width: 500px;
  font-family: "Space Grotesk", sans-serif;
}
.use-case {
  margin: 12px 0;
}
.use-case h3 {
  font-size: 21.5px;
  margin-bottom: 2px;
  font-family: "Space Grotesk", sans-serif;
  color: #00f5d4;
}
.use-case h3 i {
  margin-left: 10px;
}

.use-case p {
  color: #444;
  font-weight: 600;
  max-width: 700px;
  line-height: 24px;
  font-size: 15.5px;
}
.features {
  margin-top: 10px;
}
.features h2, 
.how-it-works h2,
.comparison h2,
.demo h2,
.faq h2,
.contact h2 {
  font-size: 42px;
  color: #222;
  margin-bottom: 20px;
  font-family: "Space Grotesk", sans-serif;
}
.how-it-works h2 {
  margin-top: 5px;
  margin-bottom: 0;
}
.comparison h2,
.demo h2,
.contact h2,
.cta-section h2 {
  font-size: 47px;
  margin-bottom: 5px;
  color: #222;
  font-family: "Space Grotesk", sans-serif;
}
.comparison p,
.demo p,
.contact p,
.cta-section p {
  font-size: 16.5px;
  font-weight: 600;
  color: #444;
}
.how-it-works {
  height: 92vh;
  padding-bottom: 20px;
}
.feature-list,
.steps,
.testimonial-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
  max-width: 1350px;
  width: 100%;
}
.steps {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95%;
}
.feature,
.step,
.testimonial {
  background: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 20px rgba(0, 245, 212, 0.8);
  color: #222;
  padding: 20px 20px 23px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: start;
  position: relative;
  transition: .5s ease;
  cursor: pointer;
}
.step {
  text-align: center;
  padding: 33px 20px 35px;
}
.step:hover {
  scale: 1.03;
}
.step:nth-child(1)::before,
.step:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: -79px;
  left: 50%;
  width: 5px;
  height: 60px;
  background-color: #fff;
  transform: translateX(-50%);
  animation: bounce 1.5s infinite ease-in-out;
  border-radius: 10px;
  transition: .5s ease;
}
.step:nth-child(1):hover::before,
.step:nth-child(2):hover::before {
  bottom: -83px;
}
.step:nth-child(1)::after,
.step:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -92px;
  left: 50%;
  width: 23px;
  height: 23px;
  border-right: 6px solid #00f5d4;
  border-bottom: 6px solid #00f5d4; 
  transform: translateX(-50%) rotate(45deg);
  border-radius: 3px;
  animation: bounce 1.5s infinite ease-in-out;
}
.feature h3,
.steps h3 {
  font-size: 28.2px;
  margin-bottom: 5px;
  font-weight: 800;
  font-family: "Space Grotesk", sans-serif;
}
.steps h3 {
  font-size: 32px;
  margin-bottom: 9px;
}
.feature p,
.steps p {
  color: #444;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
.comparison-table {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}
.comparison-item {
  flex: 1;
  padding: 40px;
  position: relative;
  text-align: center;
}
.comparison-item h3 {
  font-size: 34px;
  font-family: "Space Grotesk", sans-serif;
}
.comparison-item ul li {
  list-style: none;
  margin: 12px 0;
  font-weight: 600;
  font-size: 15.5px;
  color: #444;
}
.comparison-item ul li span {
  color: #00f5d4;
}
.traditional {
  background: #fff;
  color: #00f5d4;
  text-align: start;
  padding-left: 30px;
}
.ai {
  background: #00f5d4;
  color: #f8f8f8;
  position: relative;
  text-align: end;
}
.comparison-item.ai ul li {
  color: #fff;
  font-size: 16px;
}
.ai::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px; 
  width: 100px;
  height: 100%;
  background: inherit;
  transform: skewX(-15deg);
  transform-origin: left;
}
.demo {
  width: 100%;
  padding: 40px 15px;
  margin-top: 20px;
  text-align: center;
}
.demo p {
  margin-top: 10px;
}
.cta-demo {
  padding: 10px 25px;
  font-size: 17.5px;
  margin-top: 30px;
  font-weight: 600;
  border-radius: 15px;
  background-color: #00f5d4;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  transition: .4s ease;
}
.cta-demo:hover {
  background-color: #00f5d485;
  scale: 1.02;
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
}
.faq-list {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.faq-item {
  background: #00f5d4;
  padding: 20px 15px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: relative;
}
.faq-item .arrow {
  position: absolute;
  right: 15px;
  top: 23px;
}
.faq-item h3 {
  font-size: 23px;
  margin-bottom: 5px;
  color: #222;
  font-family: "Space Grotesk", sans-serif;
}
.faq-item p {
  font-size: 17.5px;
  line-height: 23px;
  margin-top: 10px;
  font-weight: 600;
  color: #444;
}
.contact {
  text-align: center;
  padding: 40px 15px;
  background: #fff;
  color: white;
  border-radius: 10px;
  box-shadow: none;
  margin-top: 20px;
}
   
.contact .cta {
  background-color: #00f5d4;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -9px;
}
.cta-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  margin: 50px 0;
}
.cta-section button {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .feature-list,
  .steps,
  .use-case-list,
  .testimonial-list,
  .comparison-table {
    flex-direction: column;
    align-items: center;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

.divs-wrapper {
  width: 100%;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divs-wrapper .wrapp2{
  width: 900px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 15px;
  color: #fff;
}
.wrapp2 .collap-two {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.divs-wrapper .wrapp2 .cta {
  background-color: #00f5d4;
  color: #fff;
  font-size: 16px;
  margin-top: 7px;
}
.divs-wrapper .wrapp2 h2 {
  font-size: 28px;
  font-family: "Space Grotesk", sans-serif;
  color: #222;
}
.divs-wrapper .wrapp2 .icon {
  margin-bottom: -5px;
  color: #222;
}
.divs-wrapper .wrapp2 p {
  font-weight: 600;
  color: #444;
  margin-top: 5px;
  line-height: 23px;
}
.analytics p {
  margin-bottom: 10px;
}
.analytics ul li {
  list-style: none;
  margin: 9px 0;
  font-weight: 500;
  color: #444;
}
.security, 
.pricing {
  background: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 300px;
  text-align: start;
}
.pricing .icon {
  margin-left: -7px;
}
.security {
  margin-bottom: 25px;
}
.analytics {
  height: 100%; 
  background: #fff;
  border: 2px solid #dfdfdf;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px; 
  text-align: start;
  width: 48.5%;
}
@media(max-width: 1285px) {
  .feature-list {
    justify-content: space-evenly;
  }
  .feature:last-child {
    margin-top: 10px;
  }
  .use-cases img  {
    display: none;
  }
  .use-cases .outside-wrapp {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}
.use-case-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0 10px;
}
.use-case {
  background-color: #00f5d4;
  text-align: start;
  max-width: 370px;
  min-width: 310px;
  padding: 15px 20px;
  border-radius: 15px;
  max-height: 159px;
  text-align: center;
}
.use-case h3 {
  color: #fff;
}
.use-cases .outside-wrapp h2 {
  max-width: 1000px;
  font-size: 43px;
  margin-bottom: 20px;
}
.comparison-table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.comparison-item {
  min-width: 450px;
  max-width: 450px;
  padding: 25px 15px;
  border-radius: 15px;
}
.ai::before {
  display: none;
}
.comparison-item ul li {
  font-size: 15.5px;
}
.comparison-item h3 {
  font-size: 32px;
}
.newsletter-form-container {
  width: 100%;
}
.hero-proof span {
  display: none
;
}
}
@media(max-width: 1230px) {
  .comparison h2, .demo h2, .contact h2, .cta-section h2 {
    font-size: 42px;
  }
  .comparison p, .demo p, .contact p, .cta-section p {
    font-size: 15px;
  }
  .features h2, .how-it-works h2, .comparison h2, .demo h2, .faq h2, .contact h2 {
    font-size: 42px;
  }
  .faq-item h3 {
    font-size: 21px;
  }
  .hero h1 {
    font-size: 47px;
    max-width: 90%;
  }
  .hero p {
    font-size: 17px;
    max-width: 90%;
  }
  .cta {
    font-size: 18px;
  }
}
@media(max-width: 1015px) {
  .hero-proof {
    display: none;
  }
}
@media(max-width: 930px) {
  .divs-wrapper .wrapp2 {
    flex-direction: column;
    height: auto;
  }
  .analytics,
  .security, 
  .pricing{
    width: 100%;
    max-width: 500px;
  }
  .collap-two {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .security { 
    width: 100%;
    margin-bottom: 15px;
  }
  .cta-section h2 {
    font-size: 38px;
    text-align: center;
  }
  .cta-section p {
    text-align: center;
  }
}
@media(max-width: 850px) {
  .shopify-welcomeDiv {
    padding-top: 80px;
    overflow-y: auto;
  }
  .shopify-prompt {
    color: #222;
  }
}
@media(max-width: 600px) {
  .hero p {
    display: none;
  }
  .hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }
  .features h2, .how-it-works h2, .comparison h2, .demo h2, .faq h2, .contact h2 {
    font-size: 41px;
    text-align: center;
}
.newsletter p {
  font-size: 14px;
  line-height: 27px;
} 
}
@media(max-width: 730px) {
  .hero {
    width: 590px;
  }
}
@media(max-width: 628px) {
  .shopify-welcomeDiv {
    padding-top: 120px;
    overflow-y: auto;
  }
}
@media(max-width: 610px) {
  .shopify-welcomeDiv {
    padding-top: 160px;
    overflow-y: auto;
  }
}
@media(max-width: 570px) {
  .shopify-welcomeDiv {
    padding-top: 180px;
    overflow-y: auto;
  }
}
@media(max-width: 520px) {
  .shopify-welcomeDiv {
    padding-top: 220px;
    overflow-y: auto;
  }
}
@media(max-width: 520px) {
  .shopify-welcomeDiv {
    display: none;
  }
}
@media(max-width: 600px) {
  .hero {
    width: 530px;
  }
  .hero-btn {
    font-size: 17px;
  }
  .hero-text p {
    display: block;
  }
  .icon-hero {
    justify-content: space-around;
    gap: 20px;
  }
  .hero h2 {
    font-size: 21px;
  }
  .hero {
    padding: 40px 20px;
  }
  .hero-text {
    width: 100%;
  }
}
@media(max-width: 540px) {
  .hero-logos img {
    max-width: 180px;
  }
  .hero-logos img:nth-child(3) {
    max-width: 110px;
    max-height: 80px;
    margin-top: 30px;
  }
  .hero-logos img:nth-child(4) {
    max-width: 120px;
    height: 130px;
  }
  .hero-logos img:nth-child(5) {
    max-width: 120px;
    max-height: 110px;
    margin-top: 14px;
  }
  .hero-logos img:nth-child(6) {
    max-width: 120px;
    height: 110px;
    margin-top: 14px;
  }
  .hero-logos img:nth-child(7) {
    max-width: 120px;
    height: 110px;
    margin-top: 10px;
  }
  .hero {
    width: 480px;
  }
  .aaaa {
    margin-top: 15px;
  }

}
@media(max-width: 500px) {
  .feature, .step, .testimonial {
    width: 100%;
  }
  .features {
    padding-left: 20px;
    padding-right: 20px;
  }
  .how-it-works {
    height: 840px;
  }
  .feature h3, .steps h3 {
    font-size: 26px; 
  }
  .steps p {
    font-size: 14.5px;
  }
  .step:nth-child(1)::before,
.step:nth-child(2)::before {
  bottom: -60px;
  left: 50%;
  width: 4px;
  height: 44px;
}
.step:nth-child(1)::after,
.step:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -75px;
  left: 50%;
  width: 17px;
  height: 17px;
}
.comparison-item {
  min-width: 100%;
  max-width: 100%;
  
}
.comparison {
  padding-left: 20px;
  padding-right: 20px;
}
.divs-wrapper .wrapp2 h2 {
  font-size: 25px;
}
.divs-wrapper .wrapp2 p {
  font-size: 15px;
  line-height: 20px;
}
.analytics ul li {
  font-size: 15px;
}
.divs-wrapper .wrapp2 .cta {
  font-size: 16px;
}
.shopify-welcome {
  width: 100%;
}
.shopify-welcome h1 {
  font-size: 32px;
}
.shopify-welcome p {
  font-size: 16.5px;
}
.shopify-welcome button {
  font-size: 17px;
}
}
@media(max-width: 475px) {
  .hero-logos img {
    max-width: 140px;
  }
  .hero-logos img:nth-child(3) {
    max-width: 110px;
    max-height: 80px;
    margin-top: 30px;
  }
  .hero-logos img:nth-child(4) {
    max-width: 120px;
    height: 130px;
  }
  .hero-logos img:nth-child(5) {
    max-width: 100px;
    max-height: 90px;
    margin-top: 24px;
  }
  .hero-logos img:nth-child(6) {
    max-width: 100px;
    height: 90px;
    margin-top: 14px;
  }
  .hero-logos img:nth-child(7) {
    max-width: 100px;
    height: 90px;
    margin-top: 10px;
  }
  .hero {
    width: 380px;
  }
}
@media (max-width: 390px) { 
  .how-it-works {
    height: 880px;
  }
  .hero {
    width: 340px;
  }
}
