* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapp {
    width: 93%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px;
    color: #e6e6e6 !important;
    border-radius: 20px;
}
.wrapp h1 {
    font-size: 42px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}
.wrapp h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    margin: 20px 0 4px;
    color: #ffff;
}
.wrapp h3 {
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    margin: 15px 0 4px;
}
.wrapp p {
    font-weight: 500;
    font-size: 16.5px;
    line-height: 21px;
    margin: 5px 0;
}
.wrapp a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    color: #e6e6e6;
    position: relative;
    text-decoration: none;
}
.wrapp a::before {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #e6e6e6;
    border-radius: 20px;
    transition: .3s ease;
}
.wrapp a:hover::before {
    width: 100%;
}

[data-custom-class='body'], [data-custom-class='body'] * {
        background: transparent !important;
      }
[data-custom-class='title'], [data-custom-class='title'] * {
        font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
      }
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
        font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
      }
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
        font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
      }
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
        font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
      }
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
        color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
      }
[data-custom-class='link'], [data-custom-class='link'] * {
        color: #3030F1 !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
      }